<section class="about-us">
    <!--background image for just this section -->
    <h1 class="Titles">Our Inspiration</h1>
        <p class="about-us-info">content for this section is a paragraph about pure insiration</p>
</section>

<section class="We-Do">
    <!--different background image for this section -->
    <h1 class="Titles">What We Do</h1>
        <p class="about-us-info">content for this section about services provided</p>
</section>

<section class="Goals">
    <!--blended background colors or picture for this section -->
    <h1 class="Titles">What we strive for</h1>
        <p class="about-us-info">content for this section will be what are all of the goals of pure inspiration</p>
</section>