.wrapper,
.title,
.btn-no-style {
    font-family:"Sacramento";
}

#modal-close {
    top: 10px;
    right: 10px;
}

a.navbar-item:hover {
    background-color: #b886bb;
    font-weight: bold;
}

#home-link {
    text-decoration: none;
}

body {
    background-color: #252161
}

.hero-image {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.btn-no-style {
    border:#252161;
    padding:5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    background-color: #b886bb;
}

.btn-no-style:hover {
    background-color: rgb(58, 154, 58);
    font-weight:bold;
}

tbody,label {
    font-family: "Fredoka", sans-serif;
}

.fa-pencil, .fa-trash {
    cursor: pointer;
}

.overflow {
    overflow-x: auto;
}